.select {
  width: 200px;
  position: relative; }

.select-selection {
  display: flex;
  height: 20px; }

.select-selection-input {
  outline: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #dae9e6;
  border-right: 0;
  text-indent: .5em;
  line-height: 18px;
  width: calc(100% - 14px);
  cursor: pointer; }

.select-selection-btn {
  width: 14px;
  background-color: #1db9e9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-repeat: no-repeat;
  background-position: center; }

.select-dropdown {
  position: absolute;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  list-style: none;
  border-radius: 3px;
  padding: 0;
  margin-top: 1px;
  transition: .5s;
  max-height: 300px;
  overflow: auto;
  z-index: 100000; }

.select-dropdown li {
  padding: 7px 8px; }
  .select-dropdown li.opt {
    cursor: pointer; }
    .select-dropdown li.opt.disabled {
      color: #A4A9AC;
      background-color: #DDE6E9; }
    .select-dropdown li.opt.selected {
      color: white;
      background-color: #23B7E5; }
    .select-dropdown li.opt:hover {
      cursor: pointer; }
  .select-dropdown li:hover {
    background-color: rgba(35, 183, 229, 0.2);
    cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.demos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.demo {
  padding: 20px;
  border: 1px solid green;
  position: relative; }

.demo-title {
  margin: 0;
  margin-bottom: 20px; }

.demo-1 {
  overflow: auto; }

.demo-2 {
  overflow: hidden; }

.demo-3-position {
  background: red;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 12px; }

.demo-3-selectwrapper {
  position: relative;
  z-index: 1; }
